<% content_for :head do %>
  <title>A story by <%= @author.name.capitalize %></title>
  <meta property="og:title" content="A story by <%= @author.name.capitalize %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= domain_name %>/story/<%= @story['id'] %>" />
  <meta property="og:image" content="<%= @author.image('large') %>" />
  <meta property="og:description" content="<%= truncate(sanitize(@story['text'], :tags => []), :length => 120, :omission => '...') %>" />
  <meta property="og:site_name" content="AapAurMain" />
  <meta property="fb:admins" content="100000895084212" />
  <meta property="fb:app_id" content="608759112487171" />   
<% end %>
<% content_for :stylesheet do%>
  <%= stylesheet_link_tag "users/left_nav", "stories" %>
<% end %>
<%= content_for :js_footer do %>
  <%= javascript_include_tag "story", "ga_handler", "jquery.validate.min" %>
<% end %>
  <script type="text/javascript">
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      window.ga = new GAHandler({
        'page': '<%= @page_type %>',
        'pageType': 'one_story',
        'pre': 'one_story_',
        'q': window._gaq
      });
      window.sh = new StoryHandler({
        'forUserId': <%= @user.id rescue 0 %>,
        'storiesContainer': 'ul.blog-container'
      });
      
      $('.signup form').validate({
        submitHandler: function(form) {
          $(form).ajaxSubmit();
        }, rules: {
          name: {
            required: true,
            minlength: 4
          },
          email: {
            required: true,
            email: true
          },
          conditions: "required",
          password: {
            required: true,
            minlength: 5
          },
          password_confirmation: {
            required: true,
            equalTo: '.signup form input[name=password]'
          }
        },
        messages: {
          name: {
            required: "We need a name to know you",
            minlength: "At least 4 characters is a normal name"
          },
          email: {
            required: "This is where verification mail will be sent",
            email: "This should be like name@domain.com"
          },
          password: {
            required: "This is for your own safety",
            minlength: "Give a strong password, at least 5 letters strong"
          },
          password_confirmation: {
            required: "Confirm password please",
            equalTo: "Passwords must match"
          },
          conditions: "Accept policies please"
        },
        errorLabelContainer: "#validation-errors"
      });

    });
  </script>

  <div class="container clearfix one-story <%= @user ? 'logged-in' : 'logged-out' %>">
    <div class="row-fluid">
      <div class="span9 clearfix">
        <div class="col-one">
          <% if @user %>
          <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          <% end %>
        </div>
        <div class="col-two">
          <div class="center-container">
            <%= render :partial => "/story", :locals => { :story => @story, :panels => @story['panels'] } %>
          </div>
        </div> <!-- col-two -->
        
        <% unless @user %>
        <div class="span7 signupDiv">
          <p>Like the life around here? Why not</p>
          <div class="signup">
            <%= form_tag({:controller => 'users', :action => 'signup'}, :class=> 'pull-right', :id => 'signup_form') do %>
              <div class="signup-form">
                <h3><span>Join Us</span></h3>
                <div id="validation-errors"></div>                
                <div class="controls">
                    <input type="text" name="name" placeholder="Name" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="password" name="password_confirmation" placeholder="Password Confirm" />
                  <div class="conditions">
                    <label>
                      <input name="conditions" type="checkbox" />I agree to the <a href="/tnc">Terms &amp; Conditions</a> and <a href="/privacy">Privacy Policy</a>.
                    </label>
                  </div>
                  <button type="submit" class="signupBtn btn btn-primary btn-large">Get Started</button>
                </div>
              </div>
            <% end %>
          </div><!--signup ends-->
        </div> <!-- span7-->
        <%end%>
      </div> <!-- span9 -->

      <% if @other_stories %>
      <div class="span3 other-stories">
        <div class="other-header">
          <h3>Latest thoughts from <%= @story['by'] %></h3>
        </div>
        <ul class="other-stories">
          <% @other_stories.each do |s| %>
          <li class="other-story">
            <a href="/story/<%= s['id'] %>" class="story-link pull-right" alt="View story"><%= distance_of_time_in_words_to_now(s['time']) %> ago</a>
            <p class="story-text"><%= s['text'] %></p>
            
            <div class="panels-area">
              <% unless s['panels'].nil? %>
              <ul class="story-tags">
              <% panel_lookup = priorities_list %>
              <% s['panels'].each do |panel| %>
                <li><a href="/panels/<%= panel %>" ><%= panel_lookup[panel] %></a></li>          
              <% end %>
              </ul>
              <% end %>
            </div>

            <div class="like-area clearfix quiet">
              <p>
                <%= s['claps'] %> Likes, <%= s['boos'] %> Dislikes and <%= s['comments'] %> Comments
              </p>
            </div>
            <a class="full-story btn btn-small" href="/story/<%= s['id'] %>">See the full story</a>
          </li>
          <% end %>
        </ul>
      </div> <!-- span3.other-stories -->
      <% end %>

    </div> <!-- row-fluid -->
  </div> <!-- container -->

