<% content_for :head do %>
  <title>A story by <%= @author.name.capitalize %></title>
  <meta property="og:title" content="A story by <%= @author.name.capitalize %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= domain_name %>/story/<%= @story['id'] %>" />
  <meta property="og:image" content="<%= @author.image('large') %>" />
  <meta property="og:description" content="<%= truncate(@story['text'], :length => 120, :omission => '...') %>" />
  <meta property="og:site_name" content="AapAurMain" />
<% end %>
<% content_for :stylesheet do%>
  <%= stylesheet_link_tag "users/left_nav", "stories" %>
<% end %>
<%= content_for :js_footer do %>
  <%= javascript_include_tag "story", "ga_handler" %>
<% end %>
  <script type="text/javascript">
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      window.ga = new GAHandler({
        'page': '<%= @page_type %>',
        'pageType': 'one_story',
        'pre': 'one_story_',
        'q': window._gaq
      });
      window.sh = new StoryHandler();
    });
  </script>

  <div class="container clearfix one-story">
    <div class="row-fluid">
      <div class="span9 clearfix">
        <div class="col-one">
          <% if @user %>
          <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          <% end %>
        </div>
        <div class="col-two">
          <div class="center-container">
            <%= render :partial => "/story", :locals => { :story => @story, :panels => @story['panels'] } %>
          </div>
        </div> <!-- col-two -->

      </div> <!-- span9 -->
    </div> <!-- row-fluid -->
  </div> <!-- container -->

