<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Aap Aur Main</title>
        <%= stylesheet_link_tag 'emails/email'%>	
</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            	<tr>
                	<td align="center" valign="top">
                    	<!-- // BEGIN PREHEADER -->
                        <%= render :partial => 'mail_templates/email_header'%>
                        <!-- END PREHEADER \\ -->
                    	<!-- // BEGIN CONTAINER -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                	<!-- // BEGIN BODY -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="background-color:#D65959">
                                    	<tr>
                                        	<td align="center" valign="top">
                                            	<table border="0" cellpadding="0" cellspacing="0" width="600">
                                                	<tr>
                                                    	<td align="center" valign="top" style="padding-bottom:20px;">
                                                        	<img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/snowflakes_top.png" height="90" width="600" style="display:block;">
                                                            <table border="0" cellpadding="20" cellspacing="0" width="600" id="bodyContentBlock" style="background-color:rgba(245, 245, 220, 0.96)">
                                                                <tr>
                                                                    <td align="center" valign="top">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        	<tr>
                                                                            	<td id="templateHeader" class="headerContent" style="padding-bottom:20px;text-align:center">
                                                                                	<img src="http://www.aapaurmain.com/assets/logo.png" style="max-width:560px;" alt="Aap Aur Main" id="headerImage campaign-icon" mc:label="logo_image" mc:edit="logo_image" mc:allowtext>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" class="bodyContent" style="padding-top:20px; color:#505050;font-family:Georgia;font-size:17px;line-height:150%;
text-align:left;" mc:edit="body_content01"><h1>
	<span style="font-size:24px;">Yor Life ,Your Choice!</span></h1>
<br>
&nbsp;Hey <%= @users[0].name %><br>
<br>
We are extremely delighted to inform you that <%= @users[1].name %> has accepted your interest.You really left an amazing impression! Now both of you can gear up to take this to the next level.

While you explore the tie; we will not bother you with further matches and people. We encourage you to give it your best shot with <%= @users[1].name %>. As we say, people who indeed match you are really rare. 

However, if you are giving it a second thought, you can always withdraw your request at any time and we will put you back to the league! 

Good Luck for your journey ahead.
<br>
<br>
This is what <a href="http://www.aapaurmain.com<%=url_for(@users[1])%>"><%= @users[1].name %></a> says about <%= @users[1].sex == "fe" ? 'herself' : 'himself'%> :-
<br>
<%= @users[1].short_bio %>
<br>
<br>
Best Wishes, 
<br>
Team Aap Aur Main
<br>
<br>
</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/snowflakes_bottom.png" height="45" width="600" style="display:block;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td align="center" valign="top">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td height="158">&nbsp;</td>
                                                        <td rowspan="2"><img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/snowman_footer.png" height="190" width="600" style="display:block;"></td>
                                                        <td height="158">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%" height="32" bgcolor="#FFFFFF">&nbsp;</td>	
                                                        <td width="50%" height="32" bgcolor="#FFFFFF">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END BODY \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<!-- // BEGIN FOOTER -->
                                  <%= render :partial => "mail_templates/email_footer" %>
                                    <!-- END FOOTER \\ -->
                                </td>
                            </tr>
                        </table>
                        <!-- END CONTAINER \\ -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>