<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "search/advanced_search" %>
<% end %>

<div class="span4 leftSearchBar">
  <div class="advancedSearch">
    <form method="post" action="/search/advanced_search">
      <fieldset>
        <div class="row">
          <span class="searchLabel">Hobbies</span>
          <input class="searchFilters" type="text" name="search[pref_hobbies]" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Specifically Interested in?</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% profession_list.each do |prof| %>
                <li><a href="#" data-value="<%= prof %>"><%= prof %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_profession]">
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">Comfortable with relocation</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% relocate_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_relocate]">
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">City</span>
          <input type="text" class="searchFilters" name="search[pref_location]" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Spouse Preference</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% spouse_pref_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_spouse_preference]">
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">Ideal Marriage</span>
          <input type="text" class="searchFilters" name="search[pref_ideal_marriage]" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Education of your partner</span>
          <input type="text" class="searchFilters" name="search[pref_education]" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Further education plans</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% further_education_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_further_education]">
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">Family preference</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% family_preference_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_family_preference]">
          </div>
        </div>
        
        <div class="row">
          <input type="submit" value="Show me some great results!" class="btn btn-xlarge btn-danger" />
        </div>
        
      </fieldset>
    </form>
  </div>
</div>
