<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "search/advanced_search" %>
<% end %>

<div class="span4 leftSearchBar">
  <div class="advancedSearch">
    <form method="post" action="/search/advanced_search">
      <fieldset>
        <div class="row">
          <span class="searchLabel">Hobbies</span>
          <input class="searchFilters" type="text" name="search[pref_hobbies]" value="<%= user.hobby.collect(&:hobby).join(", ") %>" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Specifically Interested in?</span>
          <input class="searchFilters" type="text" name="search[pref_profession]" value="<%= user.interested_in.collect(&:interested).join(", ") %>" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Not Interested in?</span>
          <input class="searchFilters" type="text" name="search[pref_not_interested]" value="<%= user.not_interested_in.collect(&:not_interested).join(", ") %>" />
        </div>

        <div class="row">
          <span class="searchLabel">City</span>
          <input type="text" class="searchFilters" name="search[pref_location]" value="<%= user.settled_in %>" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Spouse Preference</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% spouse_pref_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_spouse_preference]" value="<%= user.spouse_preference %>" />
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">Family preference</span>
          <div class="btn-group searchFilters">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select one ?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% family_preference_list.each do |key, value| %>
                <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
              <% end %>
            </ul>
            <input type="hidden" name="search[pref_family_preference]" value="<%= user.family_preference %>" />
          </div>
        </div>
        
        <div class="row">
          <span class="searchLabel">Ideal Marriage</span>
          <input type="text" class="searchFilters" name="search[pref_ideal_marriage]" value="<%= user.ideal_marriage %>" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Ideal Partner</span>
          <input type="text" class="searchFilters" name="search[pref_ideal_partner]" value="<%= user.ideal_partner %>" />
        </div>

        <div class="row">
          <span class="searchLabel">Education of your partner</span>
          <input type="text" class="searchFilters" name="search[pref_education]" value="<%= user.education %>" />
        </div>
        
        <div class="row">
          <span class="searchLabel">Further education plans</span>
          <input type="text" class="searchFilters" name="search[pref_further_education]" value="<%= user.further_education_plans %>" />
        </div>
        
        <div class="row">
          <input type="submit" value="Show me some great results!" class="btn btn-xlarge btn-danger" />
        </div>
        
      </fieldset>
    </form>
  </div>
</div>
