<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "application-search" %>
<% end %>
<% content_for :js_footer do %>
  <%= javascript_include_tag "application-search" %>
<% end %>

<% if @show_nothing %>
Nothing to display 
<% else %>

<%= render :partial => 'advanced_search', :locals => { :user => @current_user } %>

<div class="searchResults span12">
  <ul class="searchList">
    <% @users.each do |user| %>
    <li id="<%= user.id %>" class="select-thumbnails">
      <a href="#">
        <img src="/assets/users/96x96.gif">
        <h3 class="name"><%= user.name %></h3>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<h3 class="span6 requestLabel">Viewer Pane</h3>	
<%= render :partial => 'users/viewer_pane', :locals => { :user_collection => @users, :class_name => '', :viewer_pane_info => nil} %>



<% end %>
