<% content_for :stylesheet do%>
  <%= stylesheet_link_tag "admin/show_profile_update" %>    
<% end %>
<div>
	<%= form_tag({:controller => 'admin', :action => 'show_profile_udpates'}, :class=> 'navbar-form'	) do %>
		<input type="text" name="email" class="span4">
		<button type="submit" class="btn">Submit</button>
	<% end %>
</div>
<% if @user and @new_profile %>
	<div class="profile-diff">
		<% fields = User::USER_FIELDS_LIST %>
	    <% fields.each do |f| %>
	    	<% if @user[f].to_s.squish != @new_profile[f.to_s].to_s.squish %>
				<div class="controls controls-row">
					<label><%= f.to_s %></label>
					<input class="span3" type="text" value="<%= @user[f] %>" />
					<input class="span3" type="text" value="<%= @new_profile[f.to_s] %>" /%>
				</div>
			<% end %>
		<% end %>
		<%= form_tag({:controller => 'admin', :action => 'approve_profile_update'}, :class=> 'navbar-form pull-left', :id => 'approve-update') do %>
			<input type="hidden" name="id" value="<%= @user.id %>" />
			<button type="submit" class="btn">Approve</button>
		<% end %>
	</div>
<% end %>