<% content_for :stylesheet do %>
<%= stylesheet_link_tag "users/top_section" %>
<% end %>
<div class="slider-box">
  <div class="clearfix">
    <div class="box-contents">
      <div class="user-box clearfix">
        <div class="profile-bg">
          <img src="/assets/users/user-slide.jpg" alt="<%= user.name %>" />
        </div>
        <div class="user-inform">
          <p><%= user.name %></p>
        </div>
      </div>
    </div>
    <div class="text-blk">
      <p><%= user.short_bio || "Just Another User" %></p>
    </div>

    <div class="blog-box">
      <h3>Basic Details</h3>
      <ul class="basic-details">
        <% if user.dob %>
        <li>
          <p class="blg-tit">Happy B&apos;day</p>
          <p class="blg-ct"><%= user.dob.strftime("%d %b %Y") %></p>
        </li>
        <% end %>
        <% if user.sex %>
        <li>
          <p class="blg-tit">Is a </p>
          <p class="blg-ct"><%= user.sex == 0 ? "Male": "Female" %></p>
        </li>
        <% end %>
        <% if user.location %>
        <li class="last">
          <p class="blg-tit">Lives in</p>
          <p class="blg-ct"><%= user.location %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="btn-wraper clearfix">
    <a href="<%= request['href'] %>" class="button req-button" data-special="<%= request['special'] %>" data-user-name="<%= user.name %>"><span class="send-req"><%= request['text'] %></span></a>
    <a href="#" class="button link-follow-user"><span class="follow-user">Follow User</span></a>
    <a href="#" class="button link-rate-profile"><span class="rate-profile">Rate the profile</span></a>
    <div class="ratings">
      <span class="avg-rate">&nbsp;</span>
      (<span class="num-rate">&nbsp;</span> ratings.)
    </div>
    <div class="star"></div>
    <span class="rate-hint">&nbsp;</span>
  </div>
</div>
