<% content_for :stylesheet do %>
<%= stylesheet_link_tag "users/top_section_individual" %>
<% end %>
<% content_for :js_footer do %>
<%= javascript_include_tag "users/request_actions" %>
<% end %>
<div class="individual-pro">
  <div class="clearfix">
    <div class="box-lt">
      <div class="user-box clearfix">
        <div class="profile-bg-large">
          <img src="/assets/users/user-slide-large.jpg" alt="<%= user.name %>" />
        </div>
        <div class="prof-name">
          <p><%= user.name %></p>
        </div>
        <div class="prof-txt">
          <p><%= user.short_bio || "Just another user" %></p>
        </div>
      </div>
      <div class="clear"></div>
      <div class="btn-wraper clearfix">
        <a href="<%= request['href'] %>" class="btn btn-success req-button" data-special="<%= request['special'] %>"><%= request['text'] %></a>
        <a href="#" class="btn btn-success follow-user">Follow User</a>
        <a href="#" class="btn btn-success last rate-profile">Rate the profile</a>
      </div>
    </div>
    <div class="box-rt blog-lt">
      <h3>Basic details</h3>
      <ul class="basic-details">
        <% if user.dob %>
        <li>
          <p class="blg-tit">Happy B&apos;day</p>
          <p class="blg-ct"><%= user.dob.strftime("%d %b %Y") %></p>
        </li>
        <% end %>
        <% if user.sex %>
        <li>
          <p class="blg-tit">Is a </p>
          <p class="blg-ct"><%= user.sex == 0 ? "Male": "Female" %></p>
        </li>
        <% end %>
        <% if user.location %>
        <li class="last">
          <p class="blg-tit">Lives in</p>
          <p class="blg-ct"><%= user.location %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
