<% content_for :js_footer do %>
<%= javascript_include_tag "users/upload_photo", "users/ajax_upload" %>
<% end %>
<div class="alert alert-success" id="successMsg" style="display:none;"><span></span><a href="#" class="close" title="Close this notification">&times;</a></div>
 
<div class="profilePicUpload">
  <div class="imageThumbContainer">
    <%= image_tag @user.image('dp'), :style=>"height:150px,width:150px" , :id=>"preview" %>
  </div>
  <div class="upload">
    <a class="btn btn-info <%= @user.photo_exists ? "" : "hide" %>" id="deletePhoto">Delete</a>
    <a class="btn btn-danger" id="upload_placeholder"></a>
    <a class="btn btn-success <%= @user.photo_exists ? '' : 'hide' %>" id="change-thumbnail">Change thumbnail</a>
    <%=image_tag "indicator.gif",:id=>"indicator",:style=>"display:none;",:class=>"indicator"%>
  </div>
</div>

