<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "roundabout/viewer_pane" %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "roundabout/jquery.roundabout.min" %>
  <%= javascript_include_tag "roundabout/viewer_pane_controller" %>
<% end %>

<div class="viewerPane <%= class_name %>">
  <ul class="user-container" id="<%= defined?(id) ? id : 'noId' %>">
  <% if user_collection and user_collection.length > 0 %>
  <% puts user_collection %>
    <% user_collection.each do |user|
            name = user.name
            ideal_marriage = user.ideal_marriage
            profession = user.profession
            user_id = user.id
            if !viewer_pane_info.nil?
              info =  viewer_pane_info[user_id.to_i] 
            end
    %>
      <li class="user-info" id="<%= 'user_' + user_id.to_s %>">
        <div class="imageContainer">
          <%= image_tag "/assets/users/image_placeholder_small.png"%>
        </div>

        <div class="bio">
          <div class="name">
            <h2><%= name %></h2>
            <a href="/users/<%= user_id %>" class="btn btn-danger fullProfile" rel="nofollow">View Full Profile?</a>
          </div>

          <div class="shortProfile">
            <label class="value userBio"><%= user.short_bio || 'Thats me' %></label>
          </div>

          <div class="bio-details">
            <div>
              <label class="span2">Ideal Partner</label>
              <label class="value"><%= ideal_marriage %></label>
            </div>
            <div>
              <label class="span2">What excites me!</label>
              <label class="value"><%= (user.interested_in.map(&:interested)).join(",") %></label>
            </div>
            <div>
              <label class="span2">Hobbies</label>
              <label class="value"><%= (user.hobby.map(&:hobby)).join(",") %></label>
            </div>
            <div>
              <label class="span2">Profession</label>
              <label class="value"><%= profession %></label>
            </div>
          </div> <!-- div.bio-details -->
        </div> <!-- div.bio -->

        <div class="pull-left">
          <% if info%>  
            <% info[:show_send] ? '' : class_to_add="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add%> btn btn-danger btn-large j-send-request <%= @values['show-cta'] ? 'showCta' : '' %>" value="Send Request" id="send-<%= user_id %>"/>

            <% info[:show_withdraw] ? '' : class_to_add_1="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add_1%> btn btn-danger j-withdraw-request" value="Withdraw Request" id="withdraw-<%= user_id %>" />

            <% info[:show_accept] ? '' : class_to_add_2="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class=" <%=class_to_add_2%> btn btn-success j-accept-request" value="Accept Request" id="accept-<%= user_id %>" />

            <% info[:show_decline] ? '' : class_to_add_3="hide" %>
              <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_3%> btn btn-danger j-decline-request" value="Decline Request" id="decline-<%= user_id %>" />
              
            <% info[:show_withdraw_lock] ? '' : class_to_add_4="hide" %>
                <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_4%> btn btn-danger j-withdraw-lock" value="Withdraw Lock" id="lock-<%= user_id %>" />

          <% end %>

        </div>	
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
