<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/create_profile" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "global" %>
    <% end %>
    <title>Create your Profile</title>
  </head>
  
  <body>
    <div class="container-fluid">
      
    
      
      <div class="span10 profileContainer">
        <%= form_for @user, :url => "/users/#{@user.id}/update", :html => { :class => "form-horizontal"} do %>
          <fieldset>
            <span class="label label-inverse span9">Your Personal Information</span>

            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" class="span4" name="user[name]" id="name" placeholder="Enter your name &hellip;" value="<%= @user.name %>" >
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="dob">Date of Birth</label>
              <div class="controls" id="dob">
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= @user.dob && @user.dob.day || 'Day' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% for d in 1..31 %>
                      <li><a href="#" data-value="<%= d %>"><%= d %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][date]" value="<%= @user.dob && @user.dob.day %>">
                </div>
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= @user.dob && @user.dob.month || 'Month' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% Date::MONTHNAMES[1..-1].each_with_index do |i,m| %>
                      <li><a href="#" data-value="<%= (i.to_i+1).to_s %>"><%= m %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][month]" value="<%= @user.dob && @user.dob.month %>">
                </div>
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= @user.dob && @user.dob.year || 'Year' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% for y in start_year..end_year %>
                      <li><a href="#" data-value="<%= y %>"><%= y %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][year]" value="<%= @user.dob && @user.dob.year %>">
                </div>
              
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="sex">Sex</label>
              <div class="controls" id="sex">
                <input type="radio" name="user[sex]" value="male" checked="<%= @user.sex == 'male' %>"/> Male
                <input type="radio" name="user[sex]" value="female" checked="<%= @user.sex == 'female' %>"/> Female
              </div>
            </div>

           

            <span class="label label-inverse span9">Something important about <em>you</em></span>

             <div class="control-group">
              <label class="control-label" for="shortBio">Your short bio</label>
              <div class="controls">
                <textarea class="span4" name="user[short_bio]" id="shortBio" placeholder="Five words that describe you" ><%=@user.short_bio %></textarea>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="education">Education</label>
              <div class="controls">
                <input type="text" class="span4" name="user[education]" id="education" placeholder="Your highest educational qualification" value="<%=@user.education %>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="further_education">Your plans for Further Education</label>
              <div class="controls">
                <textarea class="span4" name="user[further_education_plans]" id="further_education" placeholder="Do you have any plans for higher education. If yes then when &hellip;">
                  <%=@user.further_education_plans %></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="profession">Current Profession</label>
              <div class="controls">
                <input type="text" class="span4" name="user[profession]" id="profession" placeholder="What are you doing currently" value="<%=@user.profession %>">
              </div>
            </div>

           

            <div class="control-group">
              <label class="control-label wider" for="siblings-count">How many siblings do you have</label>
              <div class="controls">
                <input type="text" class="span4" name="user[siblings]" id="siblings" placeholder="The number of siblings" value="<%=@user.siblings %>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="hobbies">Interests/Hobbies</label>
              <div class="controls" id="hobbies">
                <input type="text" class="span4" name="user[hobby]" placeholder="Mention a hobby" value="<%= (@user.hobby.map(&:hobby)).join(",") %>">
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="dream">Dream for Future</label>
              <div class="controls">
                <textarea class="span4" id="dream" name="user[dream_for_future]" placeholder="What do you see yourself doing in the coming time"><%= @user.dream_for_future%></textarea>
              </div>
            </div>
            
            <span class="label label-inverse span9">Specifications for the tie-up?</span>
            
            <div class="control-group">
              <label class="control-label wider" for="familyPref">Family Preferences</label>
              <div class="controls" id="familyPref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= family_preference_list[@user.family_preference] || 'Choose a preference' %> 
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% family_preference_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                    
                  </ul>
                  <input type="hidden" name="user[family_preference]" value="<%=@user.family_preference%>">
                  <span class="help-inline">The kind of family you would like to be in</span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="spousePref">Spouse Preferences</label>
              <div class="controls" id="spousePref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= spouse_pref_list[@user.spouse_preference] || 'Choose a preference' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% spouse_pref_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[spouse_preference]" value="<%=@user.spouse_preference%>">
                  <span class="help-inline">The kind of spouse you are comfortable with</span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="settled">Your current location</label>
              <div class="controls">
                <input type="text" class="span4" name="user[settled_in]" id="settled" placeholder="Where are you based out of" value="<%= @user.settled_in %>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="sexualPref">Sexual Preference</label>
              <div class="controls" id="sexualPref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= sexual_pref_list[@user.sexual_preference] || 'Choose a preference' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% sexual_pref_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[sexual_preference]" value="<%=@user.sexual_preference%>">
                  <span class="help-inline">This will be kept private</span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="virginity">Opinion on virginity</label>
              <div class="controls">
                <textarea class="span4" id="virginity" name="user[virginity_opinion]" placeholder="How does your spouse&apos;s virginity matter to you"><%=@user.virginity_opinion%></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="idealPartner">An Ideal Life Partner</label>
              <div class="controls">
                <textarea class="span4" id="idealPartner" name="user[ideal_partner]" placeholder="Five words that describe your ideal partner"><%=@user.ideal_partner%></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="idealMarriage">My marriage will be..</label>
              <div class="controls">
                <textarea class="span4" id="idealMarriage" name="user[ideal_marriage]" placeholder="How do you see yourself getting married ?"><%=@user.ideal_marriage%></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="specificInterest">Things that excite me</label>
              <div class="controls">
                <input id="specificInterest" type="text" name="user[interest]" class="span4" placeholder="You prefer Artists/Journalists/Software" value="<%=(@user.interested_in.map(&:interested)).join(",") %>">
                
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label wider" for="notSpecificInterest">Things that put me off</label>
              <div class="controls">
                <input id="notSpecificInterest" type="text" name="user[not_interest]" class="span4" placeholder="You don&apos;t wan&apos;t Artists/Journalists/Software" value="<%= (@user.not_interested_in.map(&:not_interested)).join(",") %>">
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="blogUrl">Your blog/website url</label>
              <div class="controls">
                
                <input type="text" class="span4" id="blogUrl" name="user[blog_url]" placeholder="Any expression of your creative skills" value="<%=@user.blog_url%>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label wider" for="salary">Your Salary Range</label>
              <div class="controls" id="salary">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= salary_list[@user.salary] || 'Choose a Preference' %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% salary_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[salary]" value="<%=@user.salary%>">
                  <span class="help-inline">Describe your salary range</span>
                </div>
              </div>
            </div>

            




            <button type="submit" class="btn btn-large btn-primary saveDetails">Submit</button>
          </fieldset>
        <% end %>
      </div>
    </div> <!-- container-fluid -->

  </body>
  <script type="text/javascript">
    $(function(){
       
       $.setupDropdownInputs();
       $.setupDropdownDisplays();
    })
  </script>
  
</html>
