<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application-user" %>
    <%= javascript_include_tag "global" %>
    <title>Create your Profile</title>
  </head>
  
  <body>
    <div class="container-fluid">
      
      <div class="span2">
        IMAGE HERE
 
      </div>
      
      <div class="span10">
        <%= form_for @user, :url => "/users/#{@user.id}/update", :html => { :class => "well form-horizontal"} do %>
          <fieldset>
            <span class="label label-inverse span9">Your Personal Information</span>

            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" class="span4" name="user[name]" id="name" placeholder="Enter your name &hellip;">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="dob">Date of Birth</label>
              <div class="controls" id="dob">
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Day
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% for d in 1..31 %>
                      <li><a href="#" data-value="<%= d %>"><%= d %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][date]">
                </div>
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Month
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% Date::MONTHNAMES[1..-1].each_with_index do |i,m| %>
                      <li><a href="#" data-value="<%= (i.to_i+1).to_s %>"><%= m %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][month]">
                </div>
                
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Year
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% for y in start_year..end_year %>
                      <li><a href="#" data-value="<%= y %>"><%= y %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[dob][year]">
                </div>
              
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="sex">Sex</label>
              <div class="controls" id="sex">
                <input type="radio" name="user[sex]" value="male" /> Male
                <input type="radio" name="user[sex]" value="female" /> Female
              </div>
            </div>

           

            <span class="label label-inverse span9">Something important about <em>you</em></span>

             <div class="control-group">
              <label class="control-label" for="shortBio">Your short bio</label>
              <div class="controls">
                <textarea class="span4" name="user[short_bio]" id="shortBio" placeholder="Five words that describe you"></textarea>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="education">Education</label>
              <div class="controls">
                <input type="text" class="span4" name="user[education]" id="education" placeholder="Your highest educational qualification">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="further_education">Your plans for Further Education</label>
              <div class="controls">
                <textarea class="span4" name="user[further_education_plans]" id="further_education" placeholder="Do you have any plans for higher education. If yes then when &hellip;"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="profession">Current Profession</label>
              <div class="controls">
                <input type="text" class="span4" name="user[profession]" id="profession" placeholder="What are you doing currently">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="siblings">Siblings?</label>
              <div class="controls" id="siblings">
                <input type="radio" name="user[siblings]" value="yes" /> Yes
                <input type="radio" name="user[siblings]" value="no" /> No
              </div>
            </div>

            <div class="control-group hide">
              <label class="control-label" for="siblings-count">How many siblings do you have</label>
              <div class="controls">
                <input type="text" class="span4" name="user[siblings-count]" id="siblings-count" placeholder="The number of siblings">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="hobbies">Interests/Hobbies</label>
              <div class="controls" id="hobbies">
                <input type="text" class="span4" name="user[hobby]" placeholder="Mention a hobby">
                <div class="moreHobbies">
                  <span class="btn btn-mini btn-success">Add one more?<i class="icon-plus-sign pull-left"></i></span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="dream">Dream for Future</label>
              <div class="controls">
                <textarea class="span4" id="dream" name="user[dream_for_future]" placeholder="What do you see yourself doing in the coming time"></textarea>
              </div>
            </div>
            
            <span class="label label-inverse span9">Specifications for the tie-up?</span>
            
            <div class="control-group">
              <label class="control-label" for="familyPref">Family Preferences</label>
              <div class="controls" id="familyPref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a preference
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% family_preference_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                    
                  </ul>
                  <input type="hidden" name="user[family_preference]">
                  <span class="help-inline">The kind of family you would like to be in</span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="spousePref">Spouse Preferences</label>
              <div class="controls" id="spousePref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a preference
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% spouse_pref_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[spouse_preference]">
                  <span class="help-inline">The kind of spouse you are comfortable with</span>
                </div>
              </div>
            </div>

           <!--  <div class="control-group">
              <label class="control-label" for="spouseEducation">Opinion on Spouse&apos;s further education</label>
              <div class="controls" id="spouseEducation">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a preference
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">I would not want that</a></li>
                    <li><a href="#">Depends, Don&apos;t mind for a couple of years</a></li>
                    <li><a href="#">Doesn&apos;t matter to me</a></li>
                  </ul>
                  <input type="hidden" name="user[spouse_further_education]">
                </div>
              </div>
            </div> -->

            <div class="control-group">
              <label class="control-label" for="settled">Your current location</label>
              <div class="controls">
                <input type="text" class="span4" name="user[settled_in]" id="settled" placeholder="Where are you based out of">
              </div>
            </div>

          <!--   <div class="control-group">
              <label class="control-label" for="settleAbroad">Can you settle abroad</label>
              <div class="controls" id="settleAbroad">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a preference
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">I would like to stay in my current city</a></li>
                    <li><a href="#">I can try that</a></li>
                    <li><a href="#">Doesn&apos;t matter</a></li>
                  </ul>
                  <input type="hidden" name="user[settle_else]">
                  <span class="help-inline">Can you settle elsewhere after marriage?</span>
                </div>
              </div>
            </div> -->

            <div class="control-group">
              <label class="control-label" for="sexualPref">Sexual Preference</label>
              <div class="controls" id="sexualPref">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a preference
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% sexual_pref_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[sexual_preference]">
                  <span class="help-inline">This will be kept private</span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="virginity">Opinion on virginity</label>
              <div class="controls">
                <textarea class="span4" id="virginity" name="user[virginity_opinion]" placeholder="How does your spouse&apos;s virginity matter to you"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="idealPartner">An Ideal Life Partner</label>
              <div class="controls">
                <textarea class="span4" id="idealPartner" name="user[ideal_partner]" placeholder="Five words that describe your ideal partner"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="idealMarriage">My marriage will be..</label>
              <div class="controls">
                <textarea class="span4" id="idealMarriage" name="user[ideal_marriage]" placeholder="How do you see yourself getting married ?"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="specificInterest">Things that excite me</label>
              <div class="controls">
                <input id="specificInterest" type="text" name="user[interest]" class="span4" placeholder="You prefer Artists/Journalists/Software">
                <div class="moreInterests">
                  <span class="btn btn-mini btn-success">Add one more?<i class="icon-plus-sign pull-left"></i></span>
                </div>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="notSpecificInterest">Things that put me off</label>
              <div class="controls">
                <input id="notSpecificInterest" type="text" name="user[not_interest]" class="span4" placeholder="You don&apos;t wan&apos;t Artists/Journalists/Software">
                <div class="moreInterests">
                  <span class="btn btn-mini btn-success">Add one more?<i class="icon-plus-sign pull-left"></i></span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="blogUrl">Your blog/website url</label>
              <div class="controls">
                
                <input type="text" class="span4" id="blogUrl" name="user[blog_url]" placeholder="Any expression of your creative skills">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="salary">Your Salary Range</label>
              <div class="controls" id="salary">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Choose a range
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% salary_list.each do |key, value| %>
                      <li><a href="#" data-value="<%= key %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                  <input type="hidden" name="user[salary]">
                  <span class="help-inline">Describe your salary range</span>
                </div>
              </div>
            </div>

            




            <button type="submit" class="btn btn-large btn-primary saveDetails">Submit</button>
          </fieldset>
        <% end %>
      </div>
    </div> <!-- container-fluid -->

  </body>
  <script type="text/javascript">
    $(function(){
       
       $.setupDropdownInputs();
       $.setupDropdownDisplays();
    })
  </script>
  
</html>
