<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/dashboard" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "application-user" %>
    <% end %>
    <title>Lo! Your home page <%= (@user.name || "User").capitalize %></title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35891488-1']);
      _gaq.push(['_trackPageview', 'dashboard']);

      (function(d) {
        var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(document);

    </script>
  </head>
  <body>
    <div id="left_content">
      <span class="shortBio">
        <%= @user.name %>
      </span>
       <%= image_tag profile_pic_url(@user.id) %>
      <span class="shortBio">
        <%= @user.short_bio || 'Thats me' %>
      </span>
    </div>

    <%= render :partial => '/qod/qod', :locals => { :qod => QotdQuestion.last, :user_id => @user.id } if QotdQuestion.last %>    
    
    <script type="text/javascript">
      $(document).ready(function() {
        var gaActions = [
          { sel: '#logo', label : 'logoclick' },
          { sel: '.j-about_us', label: 'headerAboutUs' },
          { sel: '.j-how_it_works', label: 'headerHowItWorks' },
          { sel: '.j-dashboard', label: 'headerDashboard' },
          { sel: '.j-edit_profile', label: 'headerEditProfile' },
          { sel: '.j-messages', label: 'headerMessages' },
          { sel: '.j-my_profile', label: 'headerMyProfile' },
          { sel: '.j-log_out', label: 'headerLogOut' },
        ];

        $.each(gaActions, function(i, obj) {
          $(obj.sel).live('click', function(e) {
            window._gaq.push(['_trackEvent', 'dashboardActions', obj.label]);
          });
        });
      });

    </script>
  </body>
</html>
