<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/dashboard" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "application-user" %>
    <% end %>
    <title>Lo! Your home page <%= (@user.name || "User").capitalize %></title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35891488-1']);
      _gaq.push(['_trackPageview', 'dashboard']);

      (function(d) {
        var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(document);

      window.user_object = <%= raw @values['json'] if @values %>;
      $(function() {
        var actions = new UserActions();
      });
    </script>
  </head>
  <body>
    <div id="left_content">
      <span class="shortBio">
        <%= @user.name %>
      </span>
       <%= image_tag profile_pic_url(@user.id) %>
      <span class="shortBio">
        <%= @user.short_bio || 'Thats me' %>
      </span>
    </div>

    <div id="box_content">
      <div class="container dashBoardContainer profile">
        <ul class="nav nav-pills mainNav j-main_nav">
          <li class="<%= @tab_to_show == 'in' ? 'active' : '' %>"><a href="#">Incoming Requests</a></li>
          <li class="<%= @tab_to_show == 'out' ? 'active' : '' %>"><a href="#">Outgoing Requests</a></li>
          <li class="<%= @tab_to_show == 'reco' ? 'active' : '' %>"><a href="#">Recommendations</a></li>
          <li><a href="#">Your Profile Viewers</a></li>
        </ul>
        
        
        <div class="requestContainer span10 j-incoming_strip <%= @tab_to_show == 'in' ? '' : 'hide' %>">
          <ul class="requestList incomingRequests">
            <% @in_requests.each do |in_req| %>
            <li class="select-thumbnails" id="<%= in_req.id %>">
              <a href="#">
                <img src="/assets/users/image_placeholder_small.png">
                <h3 class="name"><%= in_req.name %></h3>
              </a>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="requestContainer span10 j-outgoing_strip <%= @tab_to_show == 'out' ? '' : 'hide' %>">
          <ul class="requestList outgoingRequests">
            <% @out_requests.each do |out_req| %>
            <li class="select-thumbnails" id= '<%= out_req.id %>' >
              <a href="#">
                <img src="/assets/users/image_placeholder_small.png">
                <h3 class="name"><%= out_req.name %></h3>
              </a>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="requestContainer span10 j-reco_strip <%= @tab_to_show == 'reco' ? '' : 'hide' %>">
          <ul class="requestList recommendations">
            <% @recos.each do |reco| %>
            <li class="select-thumbnails" id= '<%= reco.id %>' >
              <a href="#">
                <img src="/assets/users/image_placeholder_small.png">
                <h3 class="name"><%= reco.name %></h3>
              </a>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="requestContainer span10 j-profile_viewer_strip hide">
          <ul class="requestList profileViewers">
            <% @profile_viewers.each do |prof| %>
            <li class="select-thumbnails" id= '<%= prof[:id] %>' >
              <a href="#">
                <h3 class="name"><%= prof[:name] %></h3>
                <img src="/assets/users/image_placeholder_small.png">
              </a>
              on <span class="viewDate"><%= prof[:viewed_on_date] %></span>
              at <span class="viewTime"><%= prof[:viewed_on_time] %></span>
            </li>
            <% end %>
          </ul>
        </div>

        <h3 class="span6 requestLabel">&nbsp;</h3>
        <%= render :partial => 'viewer_pane', :locals => {:user_collection => @in_requests, :class_name => 'hide' ,
           :viewer_pane_info => @viewer_pane_info[:in_requests] ,:id => 'in_pane' } %>
        <%= render :partial => 'viewer_pane', :locals => {:user_collection => @out_requests, :class_name => 'hide', 
          :viewer_pane_info => @viewer_pane_info[:out_requests] , :id => 'out_pane'} %>
        <%= render :partial => 'viewer_pane', :locals => {:user_collection => @recos, :class_name => '' , :viewer_pane_info => nil , :id => 'recos_pane'} %>
        <%= render :partial => 'viewer_pane', :locals => {:user_collection => @profile_viewers_users, :class_name => 'hide', :viewer_pane_info => nil , :id =>'prof_view_pane'} %>
      </div> 
    </div> <!-- box_content -->
    
    <%= render :partial => '/qod/qod', :locals => { :qod => QotdQuestion.last, :user_id => @user.id } if QotdQuestion.last %>    
    
    <script type="text/javascript">
      $(document).ready(function() {
        var gaActions = [
          { sel: 'ul.j-main_nav li:nth(0)', label: 'incomingReqTab' },
          { sel: 'ul.j-main_nav li:nth(1)', label: 'outgoingReqTab' },
          { sel: 'ul.j-main_nav li:nth(2)', label: 'recosTab' },
          { sel: 'ul.j-main_nav li:nth(3)', label: 'profileViewersTab' },
          { sel: 'div.j-incoming_strip li.select-thumbnails', label: 'incomingStrip' },
          { sel: 'div.j-outgoing_strip li.select-thumbnails', label: 'outgoingStrip' },
          { sel: 'div.j-reco_strip li.select-thumbnails', label: 'recoStrip' },
          { sel: 'div.j-profile_viewer_strip li.select-thumbnails', label: 'profileViewerStrip' },
          { sel: '.viewerPane .name', label: 'viewFullProfile'},
          /* header actions */
          { sel: '#logo', label : 'logoclick' },
          { sel: '.j-about_us', label: 'headerAboutUs' },
          { sel: '.j-how_it_works', label: 'headerHowItWorks' },
          { sel: '.j-dashboard', label: 'headerDashboard' },
          { sel: '.j-edit_profile', label: 'headerEditProfile' },
          { sel: '.j-messages', label: 'headerMessages' },
          { sel: '.j-my_profile', label: 'headerMyProfile' },
          { sel: '.j-log_out', label: 'headerLogOut' },
          { sel: '.advSearch', label: 'headerAdvSearch' }
        ];

        $.each(gaActions, function(i, obj) {
          $(obj.sel).live('click', function(e) {
            window._gaq.push(['_trackEvent', 'dashboardActions', obj.label]);
          });
        });
      })

    </script>
  </body>
</html>
