<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/dashboard" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "application-user" %>
    <% end %>
    <title>Lo! Your home page <%= (@user.name || "User").capitalize %></title>
    <script type="text/javascript">
       window.user_object = <%= raw @values['json'] %>;
       $(function() {
         var actions = new UserActions();
       });
    </script>
  </head>
  <body>
    <div id="left_content">left content</div>
    <div id="box_content">
    <div class="container dashBoardContainer profile">
      <h3 class="span6">Howdy <%= @user.name %>!</h3>
      
      <ul class="nav nav-pills mainNav">
        <li class="active"><a href="#">Incoming Requests</a></li>
        <li><a href="#">Outgoing Requests</a></li>
        <li><a href="#">Recommendations</a></li>
        <li><a href="#">Your Profile Viewers</a></li>
      </ul>
      
      
      <div class="requestContainer span10">
        <ul class="requestList incomingRequests">
          <% @in_requests.each do |in_req| %>
          <li class="select-thumbnails" id="<%= in_req.id %>">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name"><%= in_req.name %></h3>
            </a>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="requestContainer span10 hide">
        <ul class="requestList outgoingRequests">
          <% @out_requests.each do |out_req| %>
          <li class="select-thumbnails" id= '<%= out_req.id %>' >
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name"><%= out_req.name %></h3>
            </a>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="requestContainer span10 hide">
        <ul class="requestList recommendations">
          <li>
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
          <li style="left: 150px;">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
          <li style="left: 300px;">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
          <li style="left: 450px;">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
          <li style="left: 600px;">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
          <li style="left: 750px;">
            <span class="messageText" rel="tooltip" data-original-title="Hello this is female 1. Would you like to talk to me">Hello this is...</span>
            <a href="#">
              <img src="/assets/users/96x96.gif">
              <h3 class="name">Apoorvi Kapoor</h3>
            </a>
          </li>
        </ul>
      </div>

      <div class="requestContainer span10 hide">
        <ul class="requestList profileViewers">
          <% @profile_viewers.each do |prof| %>
          <li class="select-thumbnails" id= '<%= prof[:id] %>' >
            <a href="#">
              <h3 class="name"><%= prof[:name] %></h3>
              <img src="/assets/users/96x96.gif">
            </a>
            on <span class="viewDate"><%= prof[:viewed_on_date] %></span>
            at <span class="viewTime"><%= prof[:viewed_on_time] %></span>
          </li>
          <% end %>
        </ul>
      </div>

      <h3 class="span6 requestLabel">&nbsp;</h3>
      <%= render :partial => 'viewer_pane', :locals => {:user_collection => @in_requests, :class_name => '' ,
         :viewer_pane_info => @viewer_pane_info[:in_requests] } %>
      <%= render :partial => 'viewer_pane', :locals => {:user_collection => @out_requests, :class_name => 'hide', 
        :viewer_pane_info => @viewer_pane_info[:out_requests]} %>
      <%= render :partial => 'viewer_pane', :locals => {:user_collection => @in_requests, :class_name => 'hide' , :viewer_pane_info => nil} %>
      <%= render :partial => 'viewer_pane', :locals => {:user_collection => @profile_viewers_users, :class_name => 'hide', :viewer_pane_info => nil} %>
      
    </div>
    </div> <!-- box_content -->
    <div id="right_content">right content</div>
  </body>
</html>