<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/edit_profile", "users/jquery.datepick" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "global", "jquery.datepick.min.js" %>
    <% end %>
    <title>Create your Profile</title>

     <script type="text/javascript">
       window.user_object = <%= raw user_json_object %>;
       
    </script>
  </head>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);
    _gaq.push(['_trackPageview', 'editProfile']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      var photoUploader = new ProfilePicUpload(user_object);

      var maxYr = (new Date()).getFullYear() - 18;
      var yrRange = '1960:' + maxYr;
      // Date picker for DOB
      $('.datepicker').datepick({
        yearRange: yrRange,
        dateFormat: 'dd/M/yyyy',
        pickerClass: 'mypicker',
        defaultDate: '01/Jan/1987'
      });

    });
  </script>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12 mainContainer basicProfile">
          <div class="row">
            <div class="span2 photoContainer">
              <%= render :partial => 'upload_photo' %>
            </div>
            <div class="span10 basicDetails">
              <%= form_for @user, :url => "/update", :html => { :method => :post, :class => "form-inline"} do %>
              <fieldset>
              <h2 class="span5 detailsHeader">Basic Details</h2>
              <table>
                <tr>
                  <td>
                    <label for="user[name]">Name</label>
                    <input type="text" class="normalInput" name="user[name]" placeholder="Your Name" value="<%= @user.name %>" />
                  </td>
                
                  <td>
                    <label for="user[dob]">Date of Birth</label>
                    <input type="text" class="normalInput datepicker" name="user[dob]" placeholder="Enter your b'day" value="<%= @user.dob and @user.dob.strftime("%d %b %Y") %>" <%= @user.dob ? 'disabled' : '' %>/>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <label for="sex">Sex</label>
                    <span class="controls" id="sex">
                      <input type="radio" name="user[sex]" value="male" <%= @user.sex == 0 ? 'checked' : '' %> <%= @user.sex ? 'disabled' : '' %>/> Male
                      <input type="radio" name="user[sex]" value="female" <%= @user.sex == 1 ? 'checked' : '' %> <%= @user.sex ? 'disabled' : '' %>/> Female
                    </span>
                  </td>
                  <td>
                    <label for="user[location]">Location</label>
                    <input type="text" class="normalInput" name="user[location]" placeholder="Current city" value="<%= @user.location %>" />
                  </td>
                </tr>
                
                <tr>
                  <td colspan="2">
                    <label for="user[short_bio]">Short Bio</label>
                    <input type="text" class="largeInput" name="user[short_bio]" placeholder="Few words about you?" value="<%= @user.short_bio %>" />
                  </td>
                </tr>
              </table>

              <button type="submit" class="btn btn-large saveBasicDetails">Update</button>
              </fieldset>
              <% end %>
            </div>
          </div>
        </div><!-- mainContainer ends -->
      </div><!-- row ends -->
    </div><!-- container ends -->

  </body>
  <script type="text/javascript">
    $(function(){
      $('button.saveBasicDetails').click(function(e) {
        window._gaq.push(['_trackEvent', 'create_profile', 'detailsSubmit']);
      });
    })
  </script>
  
</html>
