<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "users/edit_profile", "users/jquery.datepick" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "global", "jquery.datepick.min.js", "bootstrap.min" %>
    <% end %>
    <title>Update your Profile</title>

     <script type="text/javascript">
       window.user_object = <%= raw user_json_object %>;
       
    </script>
  </head>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);
    _gaq.push(['_trackPageview', 'editProfile']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      var photoUploader = new ProfilePicUpload(user_object);

      var maxYr = (new Date()).getFullYear() - 18;
      var yrRange = '1960:' + maxYr;
      // Date picker for DOB
      $('.datepicker').datepick({
        yearRange: yrRange,
        dateFormat: 'dd/M/yyyy',
        pickerClass: 'mypicker',
        defaultDate: '01/Jan/1987'
      });
      $('.basicDetails input:visible').popover();
    });
  </script>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12 mainContainer basicProfile">
          <div class="row">
            <div class="span2 photoContainer">
              <%= render :partial => 'upload_photo' %>
            </div>
            <div class="span10 basicDetails">
              <%= form_for @user, :url => "/update", :html => { :method => :post, :class => "form-inline"} do %>
              <fieldset>
              <h2 class="span5 detailsHeader">Basic Details</h2>
              <table>
                <tr>
                  <td>
                    <label for="user[name]">Name</label>
                    <input type="text" class="normalInput" name="user[name]" placeholder="Your Name" value="<%= @user.name %>" data-toggle="popover" data-placement="top" data-original-title="I am Your dear helper" data-trigger="focus" data-delay="200" data-content="Your name please?"/>
                  </td>
                
                  <td>
                    <label for="user[dob]">Date of Birth</label>
                    <input type="text" class="normalInput datepicker" name="user[dob]" placeholder="Enter your b'day" value="<%= @user.dob and @user.dob.strftime("%d %b %Y") %>" data-toggle="popover" data-placement="top" data-original-title="I am Your dear helper" data-trigger="focus" data-delay="200" data-content="Choose your date of birth"/>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <label for="sex">Sex</label>
                    <span class="controls" id="sex">
                      <input type="radio" name="user[sex]" value="male" <%= @user.sex == 0 ? 'checked' : '' %> /> Male
                      <input type="radio" name="user[sex]" value="female" <%= @user.sex == 1 ? 'checked' : '' %> /> Female
                    </span>
                  </td>
                  <td>
                    <label for="user[location]">Location</label>
                    <input type="text" class="normalInput" name="user[location]" placeholder="Current city" value="<%= @user.location %>" data-toggle="popover" data-placement="right" data-original-title="I am Your dear helper" data-trigger="focus" data-delay="200" data-content="Where do you live" />
                  </td>
                </tr>
                
                <tr class="shortBios">
                  <td colspan="2">
                    <label for="user[short_bio]">Short Bio</label>
                    <% sb = @user.short_bio && @user.short_bio.split(",")[0...5] %>
                    <% 5.times do |i| %>
                    <% bio = (sb && sb.size > i && sb[i]) || "" %>
                    <input type="text" class="smallInput <%= i == 0 ? '' : 'blockInput' %>" name="user[short_bio][<%= i %>]" placeholder="Words for yourself" 
                    value="<%= bio %>" <%= bio.blank? && i > 0 ? 'disabled' : '' %> data-toggle="popover" data-html="true" data-placement="right" data-original-title="I am Your dear helper" data-trigger="focus" data-delay="200" data-content="This is highlighted on your profile.<br/><br/> A good example has <strong>3-5 adjectives</strong> describing you: <br/><br/><strong>Foodie, musician, fb-addict</strong>"/>
                    <span class="help-inline hide">Upto 5 handles are considered good</span>
                    <% end %>
                  </td>
                </tr>
              </table>

              <button type="submit" class="btn btn-large saveBasicDetails">Update</button>
              </fieldset>
              <% end %>
            </div>
          </div>
        </div><!-- mainContainer ends -->
      </div><!-- row ends -->
    </div><!-- container ends -->

  </body>
  <script type="text/javascript">
    $(function(){
      $('button.saveBasicDetails').click(function(e) {
        window._gaq.push(['_trackEvent', 'create_profile', 'detailsSubmit']);
      });
    })
  </script>
  
</html>
