<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title>Your homepage <%= @user.name%></title>
    <% end %>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/dashboard", "right_bar", "users/left_nav", "stories", "introjs.min" %>
    <% end %>
    <!--[if lte IE 8]>
      <link href="../introjs-ie.css" rel="stylesheet">
    <!-- <![endif]-->    
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "users/dashboard", "story", "ga_handler", "intro.min", "intro_handler" %>
    <% end %>
  </head>
  <script type="text/javascript">
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);
    _gaq.push(['_trackPageview', 'dashboard']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      if($.browser.msie && $.browser.version <= 8) {
        $('#ie-message-modal').modal({ keyboard: false });
        $('.modal-header a.close').live('click', function(e) {
          e.preventDefault();
          $('#ie-message-modal').modal('hide');
        });
      }

      window.dashboard = new Dashboard();
      window.ga = new GAHandler({
        'page': '<%= @page_type %>',
        'pageType': 'dashboard',
        'pre': 'dashboard_',
        'q': window._gaq
      });
      window.sh = new StoryHandler({
        'dashboard': true,
        'forUserId': <%= @user.id %>,
        'storiesContainer': 'ul.blog-container'
      });
      window.intro = new IntroHandler({
        'page': 'dashboard',
        'show': <%= @show_tour %>,
        'userId': <%= @user.id %>
      });
    });
  </script>
  <body>
    <div class="container clearfix">
      <div class="row">
        <div class="span9 clearfix">
          <div class="col-one">
            <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          </div>
          <div class="col-two">
            <div class="center-container">
              <div class="feeds-container">
                <div class="feeds-wrap">
                  <h2 class="share-text">Share a story</h2>
                  <div class="panels-holder hide">
                    <div class="info-cum-cancel">
                      <span class="panels-warning label label-warning">
                        Select at least 1 panels from below
                      </span>
                    </div>
                    <ul class="tags">
                    <% priorities_list.each do |panel_name, panel_text| %>
                      <li><a href="#" data-panel="<%= panel_name %>"><%= panel_text %></a></li>
                    <% end %>
                    </ul>
                  </div>
                  <textarea class="feeds-box" placeholder="Share something?"></textarea>
                  <div class="go-or-not hide">
                    <input type="submit" class="btn btn-danger disabled post-status" value="Go for it" />
                    <a href="#" class="cancel-update">Cancel</a>
                  </div>
                </div>
<!--                 <div class="feed-btns clearfix">
                  <a href="#" class="btn"><span class="active-feed">Active Feed</span></a>
                  <a href="#" class="btn"><span class="short-feed">Shortlisted Feed</span></a>
                  <a href="#" class="btn"><span class="loc-feed">Feed by Location</span></a>
                </div>
 -->              </div>
              <!-- feeds-container ends -->

              <ul class="blog-container">
                <% @stories.each do |story| %>
                <%= render :partial => "/story", :locals => { :story => story } %>
                <% end %>
              </ul> <!-- stories section ends -->
              <div class="more-stories-container">
                <a class="more-stories btn btn-warning" >
                  Load More Stories
                  <img class="more-stories-loader hide" src="/assets/indicator.gif" />
                </a>
              </div>
            </div> <!-- center-container ends -->
          </div> <!-- col-two ends -->
        </div> <!-- span9 ends -->

        <!-- right content -->
        <div class="span3">
          <div class="qa-content">
            <div class="qa-wrap">
              <div class="new-label"><img src="/assets/users/new.png" alt="new" />
              </div>
              <div class="tit-wrap">
                <h2><span class="board-tit">Q &amp; A</span></h2>
              </div>
              <ul class="questions">
              <%= render :partial => "/questions", :locals => { :questions => @questions } %>
              </ul>
            </div>
          </div> <!-- qa-content ends -->
          <%= render :partial => "/users_facepile", :locals => { :panel_users => @popular_user_from_panels, :title => "Popular users" } %>
        </div> <!-- span3 ends -->
      </div> <!-- row-fluid ends -->
    </div> <!-- container ends -->
    <%= render :partial => '/ie_alert' %>
  </body>
</html>
