<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title>This is <%= @user.name%></title>
    <% end %>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/profile", "right_bar", "users/left_nav", "stories" %>
    <% end %>
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "users/profile", "story", "jquery.colorbox-min", "users/jquery.raty.min" %>
    <% end %>
    <script type="text/javascript">
      $(function() {
        var userActions = new UserActions({
          'userSelector': '.rs-slider li',
          'sliderElement': '.allinone_carousel_list',
          'singleUser': true,
          'userId': <%= @user.id %>,
          'userName': "<%= @user.name %>"
        });
        var sh = new StoryHandler();
        var profile = new UserProfile({
          'currentUserId': <%= @current_user.id %>,
          'forUserId' : <%= @user.id %>,
          'forUserName': "<%= @user.name %>",
          'commonPanelSelector': '.board-wrap .datas.common-panels',
          'remainingPanelSelector': '.board-wrap .datas.other-panels',
          'nameSelector': '.shared-by span.other-user'
        });
      });
    </script>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="span9 clearfix">
          <div class="col-one">
            <%= render :partial => "users/left_nav", :locals => { :user => @current_user } %>
          </div>
          <div class="col-two">
            <div class="center-container">
              <%= render :partial => "users/top_section_individual", :locals => { :user => @user, :request => @request } %>
              <ul class="blog-container">
                <% @stories.each do |story| %>
                <%= render :partial => "/story", :locals => { :story => story } %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- center content ends -->

        <!-- right content -->
        <div class="span3">
          <div class="rit-content">
            <div class="board-wrap">
              <div class="tit-wrap">
                <h2><span class="board-tit">Panels</span></h2>
              </div>
              <ul class="panels">
                <%= render :partial => "/panels", :locals => { :panels_info => @panels, :user => @user } %>
              </ul>
            </div>

            <div class="qa-wrap">
              <div class="new-label"><img src="/assets/users/new.png" alt="new" />
              </div>
              <div class="tit-wrap">
                <h2><span class="board-tit">Q &amp; A</span></h2>
              </div>
              <ul class="questions">
                <% @questions.each do |question| %>
                <%= render :partial => "/questions", :locals => { :question => question, :user => @user } %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div><!-- Container -->
    <%= render :partial => "users/request_messages" %>
    <%= render :partial => "users/follow_messages" %>
  </body>
</html>
