<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application-user" %>
    <%= javascript_include_tag "users/profile" %>
    <script type="text/javascript">
       window.user_object = <%= raw @values['json'] %>
    </script>
  </head>
  <body>
    <aside>
      <div class="profileSideNav">
        <img src="http://placehold.it/260x180" class="profileImage" />
        <div class="sideNavButtons">
          <input type="button" class="btn-small btn-success" value="My album" />
          <br />
          <br />
          <span class="badge badge-success">2 Ques</span>
          <span class="badge badge-warning">4 Interests</span>
          <br />
          <span class="badge badge-info">8 Views</span>
          <span class="badge badge-important">6 Msgs</span>
        </div>
      </div>

    </aside>
    <div class="container profile">
      <div class="profileIntro">
        <div class="bioSection">
          <h1 class="name"><%= @user.name %></h1>
          <h3 class="shortBio">Coder, Death Metal fan, Learner for life</h3>
        </div>
        <div class="profileActions">
          <% if @values['show-send'] %>
            <input type="button" class="btn btn-success j-send-request" value="Send Request" />
          <% elsif @values['show-withdraw'] %>
            <input type="button" class="btn btn-danger j-withdraw-request" value="Withdraw Request" />
          <% elsif @values['show-accept'] %>
            <input type="button" class="btn btn-success j-accept-request" value="Accept Request" />
          <% elsif @values['show-decline'] %>
            <input type="button" class="btn btn-danger j-withdraw-request" value="Decline Request" />
          <% end %>
          <input type="button" class="btn btn-success askQuestion" value="Ask a Question" />
        </div>
      </div>
    
      <div class="recoFields row group">
        <label class="span2">Ideal Partner</label>
        <label class="span4"><%= @user.ideal_marriage %></label>
        <label class="span2">Interested In</label>
        <label class="span4"><%= join_as_string(@user.interested_in,'interested') %></label>
      </div>
    
      <div class="personalDetails group">
        <div class="row">
          <span class="label label-important"><em>Stuff that is important</em></span>
        </div>
        <div class="row">
          <label class="span2">Profession</label>
          <label class="span4"><%= @user.profession %></label>
          <label class="span2">Education</label>
          <label class="span4">B.Tech Computer Science</label>
        </div>
        <div class="row">
          <label class="span2">Hobbies</label>
          <label class="span4"><%= join_as_string(@user.hobbies, 'hobby') %></label>
          <label class="span2">Further Education Plans</label>
          <label class="span4"><%= @user.further_education_plans %></label>
        </div>	
        <div class="row">
          <label class="span2">Dream For Future</label>
          <label class="span4"><%= @user.dream_for_future %></label>	
          <label class="span2">Not Interested In</label>
          <label class="span4"><%= join_as_string(@user.not_interested_in, 'not_interested') %></label>
        </div>	
      </div>
    
    
      <div class="spousePreferences group">
        <div class="row">
          <span class="label label-info"><em>Aap</em></span>
        </div>
        <div class="row">
          <label class="span2">Spouse Preference</label>
          <label class="span4"><%= @user.spouse_preference %></label>
          <label class="span2">Spouse's Further Education Plans</label>
          <label class="span4"><%= @user.spouse_further_education %></label>
        </div>
        <br />
      </div>
    
      <div class="group">
          <div class="row">
            <span class="label label-warning"><em>The taboo topics!</em></span>
          </div>
        <div class="row">
          <label class="span2">Opinion on Virginity</label>
          <label class="span8"><%= @user.virginity_opinion %></label>
        </div>
      </div>
    
      <div class="group">
          <div class="row">
          	<span class="label label-success"><em>I Me Myself(Main)</em></span>
          </div>
        <div class="row">
          <label class="span2 h4">Sex[y]</label>
          <label class="span4"><%= @user.sex %></label>
          <label class="span2 h4">I can reach till</label>
          <label class="span4"><%= @user.height %></label>
        </div>
        <div class="row">
          <label class="span2 h4">The day earth was blessed</label>
          <label class="span4"><%= @user.dob %></label>
          <label class="span2 h4">Max shopping bill that i can afford</label>
          <label class="span4"><%= @user.salary %></label>
        </div>
        <div class="row">
          <label class="span2">Settled In</label>
          <label class="span4"><%= @user.settled_in %></label>
          <label class="span2">Willing to relocate</label>
          <label class="span4"><%= @user.settle_else %></label>
        </div>	
        <div class="row">
          <label class="span2">Sexual Preference</label>
          <label class="span4"><%= @user.sexual_preference %></label>
          <label class="span2">Family Preference</label>
          <label class="span4"><%= @user.family_preference %></label>
        </div>
        <div class="row">
          <label class="span2">Siblings</label>
          <label class="span4"><%= @user.siblings %></label>
        </div>
      </div>
    
    
    </div>
  </body>
</html>