<!DOCTYPE html>
<html>
  <head>
    <title>This is <%= @user.name%></title>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/profile" %>
    <% end %>
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "users/profile" %>
    <% end %>
    <script type="text/javascript">
       window.user_object = <%= raw @values['json'] %>;
       $(function() {
         var actions = new UserActions();
       });
    </script>
  </head>
  <body>
    <%= render :partial => "chat/chat" , :locals => {:current_user => @current_user} if @values['show-chat'] %>

    <div id="left_content">left content</div>
    <div id="box_content">
    <div id="main_content">
      <section class="profileHeader">
        <div class="profileImage"></div>
        <div class="bioSection">
          <h1 class="name"><%= @user.name %></h1>
          <h3 class="shortBio">Coder, Death Metal fan, Learner for life</h3>
        </div>
        
        <div class="profileActions">
          
          <% @values['show-send'] ? '' : class_to_add="hide" %>
            <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add%> btn btn-danger btn-large j-send-request <%= @values['show-cta'] ? 'showCta' : '' %>" value="Send Request" id="send-<%= @user.id %>"/>

          <% @values['show-withdraw'] ? '' : class_to_add_1="hide" %>
            <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add_1%> btn btn-danger j-withdraw-request" value="Withdraw Request" id="withdraw-<%= @user.id %>" />

          <% @values['show-accept']  ? '' : class_to_add_2="hide" %>
            <input type="button" data-toggle="modal" data-target="#myModal" class=" <%=class_to_add_2%> btn btn-success j-accept-request" value="Accept Request" id="accept-<%= @user.id %>" />

          <% @values['show-decline'] ? '' : class_to_add_3="hide" %>
            <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_3%> btn btn-danger j-decline-request" value="Decline Request" id="decline-<%= @user.id %>" />

            <% @values['show-withdraw-lock'] ? '' : class_to_add_4="hide" %>
              <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_4%> btn btn-danger j-withdraw-lock" value="Withdraw Lock" id="lock-<%= @user.id %>" />
          
          
          
        
          <!-- <input type="button" class="btn btn-danger btn-large askQuestion" value="Ask a Question" /> -->
        </div>
      </section>

      <div class="container profile">
        <div class="leftCol">

          <div class="group col lcol1">
            <div class="row heading">
              <span><em>Aap</em></span>
            </div>
            <div class="values">
              <div class="row">
                <label class="span2">Spouse Preference</label>
                <label class="span4"><%= spouse_pref_list[@user.spouse_preference] %></label>
              </div>
              <div class="row">
                <label class="span2">Sexual Preference</label>
                <label class="span4"><%= @user.sexual_preference %></label>
              </div>
              <div class="row">
                <label class="span2">Family Preference</label>
                <label class="span4"><%= family_preference_list[@user.family_preference] %></label>
              </div>
            </div>
          </div>

          <div class="group col lcol2">
            <div class="row heading">
              <span><em>Stuff that is important</em></span>
            </div>
            <div class="values">
              <div class="row">
                <label class="span2">Profession</label>
                <label class="span4"><%= @user.profession %></label>
              </div>
              <div class="row">
                <label class="span2">Education</label>
                <label class="span4"><%= @user.education %></label>
              </div>
              <div class="row">
                <label class="span2">Hobbies</label>
                <label class="span4"><%= join_as_string(@user.hobbies, 'hobby') %></label>
              </div>
              <div class="row">
                <label class="span2">Further Education Plans</label>
                <label class="span4"><%= further_education_list[@user.further_education_plans] %></label>
              </div>	
              <div class="row">
                <label class="span2">Dream For Future</label>
                <label class="span4"><%= @user.dream_for_future %></label>	
              </div>
            </div>
          </div>
    
        </div> <!-- left col -->
    
        <div class="rightCol">

          <div class="group col rcol1">
            <div class="row heading">
              <span><em>I Me Myself(Main)</em></span>
            </div>
            <div class="values">
              <div class="row">
                <label class="span2 h4">Sex[y]</label>
                <label class="span4"><%= @user.sex %></label>
              </div>
              <div class="row">
                <label class="span2 h4">I can reach till</label>
                <label class="span4"><%= @user.height %></label>
              </div>
              <div class="row">
                <label class="span2 h4">Seen years</label>
                <label class="span4"><%= 25 %></label>
              </div>
              <div class="row">
                <label class="span2 h4">Max shopping bill that i can afford</label>
                <label class="span4"><%= @user.salary %></label>
              </div>
              <div class="row">
                <label class="span2">Settled In</label>
                <label class="span4"><%= @user.settled_in %></label>
              </div>
              <div class="row">
                <label class="span2">Willing to relocate</label>
                <label class="span4"><%= relocate_list[@user.settle_else] %></label>
              </div>	
              <div class="row">
                <label class="span2">Siblings</label>
                <label class="span4"><%= @user.siblings %></label>
              </div>
            </div>
          </div>

          <div class="group col rcol2">
            <div class="row heading">
              <span><em>The taboo topics!</em></span>
            </div>
            <div class="values">
              <div class="row">
                <label class="span2">Opinion on Virginity</label>
                <label class="span4"><%= virginity_opinion_list[@user.virginity_opinion] %></label>
              </div>
              <div class="row">
                <label class="span2">Ideal Partner</label>
                <label class="span4"><%= @user.ideal_marriage %></label>
              </div>
              <div class="row">
                <label class="span2">Interested In</label>
                <label class="span4"><%= join_as_string(@user.interested_in,'interested') %></label>
              </div>
            </div>
          </div>
          
        <div> <!-- right col -->
    
      </div> <!-- container profile -->
    </div> <!-- main_content -->
    </div> <!-- box_content -->
  </body>
</html>