<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title>This is <%= @user.name%></title>
    <% end %>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/profile" %>
    <% end %>
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "users/profile" %>
    <% end %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="span9 clearfix">
          <div class="col-one">
            <%= render :partial => "/left_nav", :locals => { :user => @current_user } %>
          </div>
          <div class="col-two">
            <div class="center-container">
              <div class="individual-pro">
                <div class="clearfix">
                  <div class="box-lt">
                    <div class="user-box clearfix">
                      <div class="profile-bg-large">
                        <img src="images/user-slide-large.jpg" alt="user" />
                      </div>
                      <div class="prof-name">
                        <p>
                          Jonathan Doe
                        </p>
                      </div>
                      <div class="prof-txt">
                        <p>
                          " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla, sem sit amet pharetra blandit, velit lectus rhoncus orci, dapibus pulvinar elit dui eget tortor. Aenean mollis porttitor nisi in imperdiet. Nunc et sapien diam, eget dapibus nisl. Sed ultricies lectus eget felis sodales laoreet lacinia dolor cursus. Nullam nec augue lorem, id scelerisque orci. "
                        </p>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="btn-wraper clearfix">
                      <a href="#" class="button"><span class="send-req">Send Request</span></a>
                      <a href="#" class="button"><span class="follow-user">Follow User</span></a>
                      <a href="#" class="button last"><span class="rate-profile">Rate the profile</span></a>
                    </div>
                  </div>
                  <div class="box-rt blog-lt">
                    <h3>Recent Blogs</h3>
                    <ul>
                      <li>
                        <p class="blg-tit">
                          Title of the most recent blog
                        </p>
                        <p class="blg-ct">
                          August 02, 2012
                        </p>
                      </li>
                      <li>
                        <p class="blg-tit">
                          Title of the most author
                        </p>
                        <p class="blg-ct">
                          September 20, 2012
                        </p>
                      </li>
                      <li>
                        <p class="blg-tit">
                          Title of the most recent blog
                        </p>
                        <p class="blg-ct">
                          August 02, 2012
                        </p>
                      </li>
                      <li>
                        <p class="blg-tit">
                          Title of the most author
                        </p>
                        <p class="blg-ct">
                          September 20, 2012
                        </p>
                      </li>
                      <li class="last">
                        <p class="blg-tit">
                          Another Sample blog post
                        </p>
                        <p class="blg-ct">
                          December 15, 2012
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
              <ul class="blog-container">
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-f-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Arpita Chakraborty</h3>
                      <p>
                        25 Dec 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-2.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>20</span>
                        <a href="#" class="link-dislike"></a><span>8</span>
                        <div class="comment-count">
                          10
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">3 Comments</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-4.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Dipanshu
                                  </p>
                                  <span>25 Dec 2012</span>
                                </div>
                                <p>
                                  Lorem Ipsum is that it has a more-or-less normal distribution of letters.......
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Arindam Chakraborty</h3>
                      <p>
                        10 Nov 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-3.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>10</span>
                        <a href="#" class="link-dislike"></a><span>1</span>
                        <div class="comment-count">
                          8
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">2 Comments</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-5.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Aripita Chakraborty
                                  </p>
                                  <span>15 Nov 2012</span>
                                </div>
                                <p>
                                  All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks........
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Dipanshu</h3>
                      <p>
                        10 Sep 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-4.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>5</span>
                        <a href="#" class="link-dislike"></a><span>1</span>
                        <div class="comment-count">
                          4
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">1 Comment</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-3.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Aripita Chakraborty
                                  </p>
                                  <span>15 Sep 2012</span>
                                </div>
                                <p>
                                  Cras elit dolor, bibendum id vehicula ut, placerat ac mauris. In mollis........
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-f-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Arpita Chakraborty</h3>
                      <p>
                        25 Dec 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-2.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>20</span>
                        <a href="#" class="link-dislike"></a><span>8</span>
                        <div class="comment-count">
                          10
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">3 Comments</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-4.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Dipanshu
                                  </p>
                                  <span>25 Dec 2012</span>
                                </div>
                                <p>
                                  Lorem Ipsum is that it has a more-or-less normal distribution of letters.......
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Arindam Chakraborty</h3>
                      <p>
                        10 Nov 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-3.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>10</span>
                        <a href="#" class="link-dislike"></a><span>1</span>
                        <div class="comment-count">
                          8
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">2 Comments</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-5.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Aripita Chakraborty
                                  </p>
                                  <span>15 Nov 2012</span>
                                </div>
                                <p>
                                  All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks........
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="blog-user-wrap">
                    <div class="blog-user">
                      <img src="images/user-small.jpg" alt="user" />
                    </div>
                  </div>
                  <div class="blog-content">
                    <div class="blog-tit clearfix">
                      <h3>Dipanshu</h3>
                      <p>
                        10 Sep 2012
                      </p>
                      <div class="paper-roll">
                        &nbsp;
                      </div>
                      <div class="arrow-left">
                        &nbsp;
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog clearfix">
                        <div class="blog-img">
                          <img src="images/blog-4.jpg" alt="BLog" />
                        </div>
                        <div class="blog-text">
                          <p>
                            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                          </p>
                        </div>
                      </div>
                      <div class="like-area clearfix">
                        <a href="#" class="link-like"></a><span>5</span>
                        <a href="#" class="link-dislike"></a><span>1</span>
                        <div class="comment-count">
                          4
                        </div>
                      </div>
                      <div class="comment-area">
                        <a href="#" class="comment-link">1 Comment</a>
                        <ul>
                          <li>
                            <div class="clearfix">
                              <div class="comment-user">
                                <img src="images/user-3.jpg" alt="user" />
                              </div>
                              <div class="comment">
                                <div class="comment-prsn clearfix">
                                  <p>
                                    Aripita Chakraborty
                                  </p>
                                  <span>15 Sep 2012</span>
                                </div>
                                <p>
                                  Cras elit dolor, bibendum id vehicula ut, placerat ac mauris. In mollis........
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="comment-wrap">
                          <textarea class="comment-box"></textarea>
                          <label class="cmt-lbl">Add a comment....</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="rit-content">
            <div class="board-wrap">
              <div class="tit-wrap">
                <h2><span class="board-tit">Boards</span></h2>
              </div>
              <ul>
                <li>
                  <p class="shared-by">
                    Common Boards shared by John Joe and Jonathan Doe
                  </p>
                  <p class="datas">
                    Board 01 , Board 02, Board 05 and Board 07
                  </p>
                </li>
                <li>
                  <p class="shared-by">
                    See other boards
                  </p>
                  <p class="datas">
                    Board 15 , Board 20,  Board 25, Board 06, Board 12, Board 15,
                  </p>
                </li>
              </ul>
            </div>
            <div class="qa-wrap">
              <div class="new-label"><img src="images/new.png" alt="new" />
              </div>
              <div class="tit-wrap">
                <h2><span class="board-tit">Q &amp; A</span></h2>
              </div>
              <ul>
                <li>
                  <div class="user-left">
                    <img src="images/user-1.jpg" alt="user" />
                  </div>
                  <div class="qn-right">
                    <p class="shared-by">
                      Children need something to do when they're potty training, right?
                    </p>
                    <p class="datas">
                      A new product for parents of children being potty trained features an  iPad docking station.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="user-left">
                    <img src="images/user-2.jpg" alt="user" />
                  </div>
                  <div class="qn-right">
                    <p class="shared-by">
                      Frontier on the Big Bang Theory ?
                    </p>
                    <p class="datas">
                      Star Trek the Next Generation costume is your favorite
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container -->

  </body>
</html>
