<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title>This is <%= @user.name%></title>
    <% end %>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/profile" %>
    <% end %>
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "users/profile" %>
    <% end %>
    <script type="text/javascript">
       window.user_object = <%= raw @values['json'] %>;
       $(function() {
         var actions = new UserActions();
       });
    </script>
  </head>
  <body>
    

    <div id="left_content">&nbsp;</div>
    <div id="box_content">
      <div id="main_content">
        <div class="profileHeader">
          <div class="profileImage">
            <img src="http://www.placehold.it/150x150" />
          </div>
          <div class="bioSection">
            <h1 class="name"><%= @user.name %></h1>
            <h3 class="shortBio"><%= @user.short_bio %></h3>
          </div>
          
          <div class="profileActions">
            
            <% @values['show-send'] ? '' : class_to_add="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add%> btn btn-danger btn-large j-send-request <%= @values['show-cta'] ? 'showCta' : '' %>" value="Send Request" id="send-<%= @user.id %>"/>

            <% @values['show-withdraw'] ? '' : class_to_add_1="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add_1%> btn btn-danger j-withdraw-request" value="Withdraw Request" id="withdraw-<%= @user.id %>" />

            <% @values['show-accept']  ? '' : class_to_add_2="hide" %>
              <input type="button" data-toggle="modal" data-target="#myModal" class="<%=class_to_add_2%> btn btn-success j-accept-request" value="Accept Request" id="accept-<%= @user.id %>" />

            <% @values['show-decline'] ? '' : class_to_add_3="hide" %>
              <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_3%> btn btn-danger j-decline-request" value="Decline Request" id="decline-<%= @user.id %>" />

              <% @values['show-withdraw-lock'] ? '' : class_to_add_4="hide" %>
                <input type="button" data-toggle="modal"  data-target="#myModal" class="<%=class_to_add_4%> btn btn-danger j-withdraw-lock" value="Withdraw Lock" id="lock-<%= @user.id %>" />
          </div>
        </div>

        <div class="container profile">
          <div class="leftCol">
            <div class="group col lcol2">
              <div class="row heading">
                <span><em>Stuff that is important</em></span>
              </div>
              <div class="values">
                <div class="row">
                  <div class="image">
                    <img src="/assets/users/bag-full.png" class="profileIcon" />
                  </div>
                  <label class="span2">Profession</label>
                  <label class="span4"><%= @user.profession %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/graduation-cap.png" class="profileIcon" />
                  <label class="span2">Education</label>
                  <label class="span4"><%= @user.education %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/colored-pencils.png" class="profileIcon" />
                  <label class="span2">Hobbies</label>
                  <label class="span4"><%= (@user.hobby.map(&:hobby)).join(",") %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/shaking-hands.png" class="profileIcon" />
                  <label class="span2">Further Education Plans</label>
                  <label class="span4"><%= @user.further_education_plans %></label>
                </div>	
                <div class="row">
                  <img src="/assets/users/green-lightbulb.png" class="profileIcon" />
                  <label class="span2">Dream For Future</label>
                  <label class="span4"><%= @user.dream_for_future %></label>	
                </div>
                <div class="row">
                  <img src="/assets/users/microphone.png" class="profileIcon" />
                  <label class="span2">Opinion on Virginity</label>
                  <label class="span4"><%= @user.virginity_opinion %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/clipboard-2.png" class="profileIcon" />
                  <label class="span2">Ideal Partner</label>
                  <label class="span4"><%= @user.ideal_partner %></label>
                </div>
                 <div class="row">
                  <img src="/assets/users/clipboard-2.png" class="profileIcon" />
                  <label class="span2">My kind of marriage</label>
                  <label class="span4"><%= @user.ideal_marriage %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/coffee-mug.png" class="profileIcon" />
                  <label class="span2">Things that excite me</label>
                  <label class="span4"><%= (@user.interested_in.map(&:interested)).join(",") %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/favorite-delete.png" class="profileIcon" />
                  <label class="span2">Things that put me off</label>
                  <label class="span4"><%= (@user.not_interested_in.map(&:not_interested)).join(",") %></label>
                </div>
              </div>
            </div>
          </div> <!-- left col -->
      
          <div class="rightCol">

            <div class="group col rcol1">
              <div class="row heading">
                <span><em>I Me Myself(Main)</em></span>
              </div>
              <div class="values">
                <div class="row">
                  <img src="/assets/users/date.png" class="profileIcon">
                  <label class="span2 h4">Date Of Birth</label>
                  <label class="span4"><%= @user.dob %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/cash.png" class="profileIcon">
                  <label class="span2 h4">Salary</label>
                  <label class="span4"><%= salary_list[@user.salary] %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/globe.png" class="profileIcon">
                  <label class="span2">Settled In</label>
                  <label class="span4"><%= @user.settled_in %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/users-2.png" class="profileIcon">
                  <label class="span2">Siblings</label>
                  <label class="span4"><%= @user.siblings %></label>
                </div>
              </div>
            </div>
            <div class="group col rcol2">
              <div class="row heading">
                <span><em>Aap</em></span>
              </div>
              <div class="values">
                <div class="row">
                  <img src="/assets/users/green-power-outlet.png" class="profileIcon">
                  <label class="span2">Spouse Preference</label>
                  <label class="span4"><%= spouse_pref_list[@user.spouse_preference] %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/apple.png" class="profileIcon">
                  <label class="span2">Sexual Preference</label>
                  <label class="span4"><%= sexual_pref_list[@user.sexual_preference] %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/flowchart.png" class="profileIcon">
                  <label class="span2">Family Preference</label>
                  <label class="span4"><%= family_preference_list[@user.family_preference] %></label>
                </div>
                <div class="row">
                  <img src="/assets/users/users.png" class="profileIcon">
                  <label class="span2 h4">Sex</label>
                  <label class="span4"><%= @user.sex %></label>
                </div>
              </div>
            </div>
          </div><!-- right col -->
      
        </div> <!-- container profile -->
      </div> <!-- main_content -->
    </div> <!-- box_content -->
  </body>
</html>
