<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "list", "right_bar", "stories", "users/colorbox" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "application-list", "users/list_view", "story/story_interactions", "users/request_actions", "users/jquery.raty.min", "jquery.colorbox-min", "jquery.timeago" %>
    <% end %>
    <title><%= @title %></title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35891488-1']);
      _gaq.push(['_trackPageview', '<%= @direction %>Requests']);

      (function(d) {
        var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(document);

      $(document).ready(function() {
        if( <%= @has_data %> ) {
          var lv = new ListView({ 
            'userIds': <%= @user_ids %>,
            'sessionUserId': <%= @user.id %>,
            'sliderElement': '.allinone_carousel_list'
          });
          var sh = new StoryHandler();
          var requestActions = new RequestActions({
            'userSelector': '.rs-slider li'
          });
        }
      });
    </script>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="span9 clearfix">
          <div class="col-one">
            <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          </div>
          <div class="col-two">
            <% unless @has_data %>
            <div class="hero-unit">
              <span class="sorry-message">Sorry nobody found</span>
              <span class="next-steps"><%= @next_steps %><span>
            </div>
            <% else %>

            <div id="containingDiv">
              <div id="allinone_carousel_charming">
                <div class="myloader"></div>
                <ul class="allinone_carousel_list">
                  <% @objects.each do |obj| %>
                  <li class="person" data-user-id="<%= obj[:user].id %>" data-user-name="<%= obj[:user].name %>">
                    <%= render :partial => "users/top_section", :locals => { :user => obj[:user], :request => obj[:request] } %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="center-container">
              <ul class="story-container">
                <%= render :partial => "/stories_loader" %>
              </ul>
            </div>
            <% end %>

          </div> <!-- col-two -->
        </div> <!-- span9 -->
        
        <% if @has_data %>
        <div class="span3">
          <div class="rit-content">
            <div class="board-wrap">
              <div class="tit-wrap">
                <h2><span class="board-tit">Panels</span></h2>
              </div>
              <ul class="panels">
              <%= render :partial => "/panels_loader" %>
              </ul>
            </div>
            <div class="qa-wrap">
              <div class="new-label"><img src="/assets/users/new.png" alt="new" />
              </div>
              <div class="tit-wrap">
                <h2><span class="board-tit">Q &amp; A</span></h2>
              </div>
              <ul class="questions">
              <%= render :partial => "/questions_loader" %>
              </ul>
            </div>
          </div> <!-- qa-wrap -->
        </div> <!-- span3 -->
        <% end %>
        
      </div>
    </div><!-- Container -->
    <%= render :partial => "users/request_messages" %>
  </body>
</html>
