<!DOCTYPE html>
<html>
  <head>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "list" %>
    <% end %>
    <% content_for :js_footer do %>
      <%= javascript_include_tag "application-list", "users/list_view" %>
    <% end %>
    <title>Requests <%= @direction == "in" ? " for ": " from " %> you</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35891488-1']);
      _gaq.push(['_trackPageview', '<%= @direction %>Requests']);

      (function(d) {
        var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(document);

      $(document).ready(function() {
        $('#allinone_carousel_charming').allinone_carousel({
          skin : 'charming',
          width : 760,
          height : 380,
          responsive : true,
          autoPlay : 1000000,
          resizeImages : true,
          autoHideBottomNav : false,
          showElementTitle : false,
          verticalAdjustment : 50,
          showPreviewThumbs : false,
          // easing:'easeOutBounce',
          numberOfVisibleItems : 3,
          nextPrevMarginTop : 23,
          playMovieMarginTop : 0,
          bottomNavMarginBottom : -10
        });
        var user_ids = <%= @user_ids %>;
        var lv = new ListView({ 
          'userIds': user_ids,
          'sessionUserId' : <%= @user.id %>
        });
      });
    </script>
  </head>
  <body>
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="span9 clearfix">
          <div class="col-one">
            <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          </div>
          <div class="col-two">
            <div id="containingDiv">
              <div id="allinone_carousel_charming">
                <div class="myloader"></div>
                <ul class="allinone_carousel_list">
                  <% @objects.each do |obj| %>
                  <li>
                    <%= render :partial => "users/top_section", :locals => { :user => obj[:user], :request => obj[:request] } %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="center-container">
              <ul class="story-container">
                <%= render :partial => "/stories_loader" %>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="rit-content">
            <div class="board-wrap">
              <div class="tit-wrap">
                <h2><span class="board-tit">Panels</span></h2>
              </div>              
              <%= render :partial => "/panels_loader" %>
            </div>
            <div class="qa-wrap">
              <div class="new-label"><img src="/assets/users/new.png" alt="new" />
              </div>
              <div class="tit-wrap">
                <h2><span class="board-tit">Q &amp; A</span></h2>
              </div>
              <%= render :partial => "/questions_loader" %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container -->
  </body>
</html>
