<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'conversation' %>
<% end %>
<% content_for :js_footer do %>
  <%= javascript_include_tag 'application-conversation' %>
<% end %>

<div class="span8 conversationContainer">
  <% unless @values.blank? %>
  <ul class="conversationList">
    <% @values.each do |conv| %>
      <li class="conversation">
        <a rel="nofollow" href="conversations/<%= conv[:id] %>">
          <%= image_tag thumbnail_pic_url(conv[:user_id]) %>
          <span class="conversationName"><%= conv[:with] %></span>
        </a>
        <div class="otherMeta">
          on <span class="muted conversationTime"><%= conv[:last_time] %></span>
          <div class="conversationSnippet"><%= conv[:snippet] %></div>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %> <!-- unless @values.blank? -->
    <h3>Start a talk with <%= @locked_with_user.name || 'Anonymous User' %></h3>
    <a type="button" class="btn btn-danger btn-large startNew" href="conversations/new" value="Talk">Talk</a>
  <% end %>
</div>
  
