<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'messages' %>
<% end %>
<% content_for :js_footer do %>
  <%= javascript_include_tag 'application-conversation' %>
<% end %>

<div class="span8 conversation">
  <h3>Conversations with <span class="person"><%= @with_user.name %></span></h3>
  <ul class="messages">
    <% @messages.each do |mes| %>
      <% with_name = @with_user.name
         myname = @current_user.name
         myid = @current_user.id
         with_id = @with_user.id
      %>
      <li class="messageContainer <%= (mes.from ==  myid ? 'myColor' : 'yourColor') %>">
        <img src="http://placehold.it/50x50" />
        <div class="info">
          <a rel="nofollow" href="/users/<%= mes.from %>"><span class="name"><%= (mes.from == myid ? myname : with_name) %></span></a>
          <span class="date pull-right"><%= mes.created_at.strftime("%d %b '%y") %></span>
          <span class="time pull-right"><%= mes.created_at.strftime("%l:%M %P")%></span>
        </div>
        <div class="text"><%= mes.text %></div>
      </li>
    <% end %>
  </ul>
  
  <div class="newMessage">
    <form method="post">
      <fieldset>
        <img src="http://placehold.it/50x50" />
        <textarea name="message[text]" rows="4" cols="40" placeholder="Reply, shall we?"></textarea>
        <input type="hidden" class="convId" value="<%= @conversation.id %>" />
        <input type="submit" class="btn btn-danger" value="Say what you feel like?"/>
      </fieldset>
    </form>
  </div>
</div>