<%  story = {
    'by_id' => "",
    'by' => "",
    'time' => Time.new,
    'claps' => "",
    'boos' => "",
    'comments' => "",
    'panels' => []
  } unless story %>
<li class="story" data-story-id="<%= story['id'] %>">
  <div class="story-user-wrap">
    <div class="story-user">
      <img src="<%= story['author_image'] %>" alt="<%= story['by'] %>" href="/users/<%= story['by_id'] %>" />
    </div>
  </div>
  <div class="story-content">
    <div class="story-tit clearfix">
      <h3 class="story-creator"><a href="/users/<%= story['by_id'] %>"><%= story['by'] %></a></h3>
      <p class="story-time">
        <a href="/story/<%= story['id'] %>" class="story-link" alt="View story"><%= distance_of_time_in_words_to_now(story['time']) %> ago</a>
        <% if current_user && story['by_id'].to_i == current_user.id %>
        <a href="#" class="del-story close" alt="Delete Story" data-story-id="<%= story['id'] %>">&times;</a>
        <% end %>
      </p>
      <div class="paper-roll">&nbsp;</div>
      <div class="arrow-left">&nbsp;</div>
    </div>
    <div class="story-inner">
      <div class="story clearfix">
        <div class="story-text">
          <p class="story-text"><%= story['text'] && story['text'] %></p>
        </div>
      </div>
      <div class="panels-area">
        <% unless story['panels'].nil? %>
        <ul class="story-tags">
        <% panel_lookup = priorities_list %>
        <% story['panels'].each do |panel| %>
          <li><a href="/panels/<%= panel %>" ><%= panel_lookup[panel] %></a></li>          
        <% end %>
        </ul>
        <% end %>
      </div>
      <div class="like-area clearfix">
        <a href="#" class="link-like hover-scale"></a><a href="#" class="j-show-claps"><span class="story-claps"><%= story['claps'] %></span></a>
        <a href="#" class="link-dislike hover-scale"></a><a href="#" class="j-show-boos"><span class="story-boos"><%= story['boos'] %></span></a>
        <div class="comment-count-wrap">
          <a href="#" class="link-comment comment-count hover-scale"></a><a href="#" class="j-show-comments"><span class="story-comments"><%= story['comments'] %></span></a>
        </div>
      </div>
      <div class="comment-area">
        <ul class="comments hide">
        </ul>
        <div class="comment-wrap">
          <textarea class="comment-box" placeholder="Your views?" rows="2" cols="70"></textarea>
          <div class="comment-actions hide">
            <input type="submit" value="Submit" class="submit-comment btn btn-info"/>
            <a href="#" class="cancel-comment">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
