<li class="story">
  <div class="story-user-wrap">
    <div class="story-user">
      <img src="/assets/users/user-small.jpg" alt="<%= story['by'] %>" href="/users/<%= story['by_id'] %>" />
    </div>
  </div>
  <div class="story-content">
    <div class="story-tit clearfix">
      <h3 class="story-creator"><%= story['by'] %></h3>
      <p class="story-time"><%= distance_of_time_in_words_to_now(story['time']) %> ago</p>
      <div class="paper-roll">&nbsp;</div>
      <div class="arrow-left">&nbsp;</div>
    </div>
    <div class="story-inner">
      <div class="story clearfix">
        <div class="story-text">
          <p class="story-text"><%= story['text'] %></p>
        </div>
      </div>
      <div class="like-area clearfix">
        <a href="#" class="link-like"></a><span class="story-claps"><%= story['claps'] %></span>
        <a href="#" class="link-dislike"></a><span class="story-boos"><%= story['boos'] %></span>
        <div class="comment-count">
          <a href="#" class="link-comemnt"></a><span class="story-comments"><%= story['comments'] %></span>
        </div>
      </div>
      <div class="comment-area">
        <ul class="comments hide">
        </ul>
        <div class="comment-wrap">
          <textarea class="comment-box" placeholder="Your views?" rows="2" cols="70"></textarea>
        </div>
      </div>
    </div>
  </div>
</li>
