<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title>Stories for panel <%= priorities_list[@panel] %></title>
    <% end %>
    <% content_for :stylesheet do%>
      <%= stylesheet_link_tag "users/left_nav", "stories", "one_panel" %>
    <% end %>
    <%= content_for :js_footer do %>
      <%= javascript_include_tag "story", "ga_handler" %>
    <% end %>
  </head>
  <script type="text/javascript">
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', 'UA-35891488-1']);
    _gaq.push(['_trackPageview', 'panelsPage']);

    (function(d) {
      var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(document);

    $(document).ready(function() {
      window.si = new StoryHandler({
        'forUserId': <%= current_user.id rescue 0 %>
      });
      window.ga = new GAHandler({
        'page': '<%= @page_type %>',
        'pageType': 'panel',
        'pre': 'panel_',
        'q': window._gaq
      });       
    });
  </script>
  <body>
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="span9 clearfix">
          <% if @user %>
          <div class="col-one">
            <%= render :partial => "users/left_nav", :locals => { :user => @user } %>
          </div>
          <% end %>
          <div class="col-two">
            <div class="center-container">
              <h2 class="page-header-text">Feed from the panel <span class="panel-name"><%= priorities_list[@panel] %></h2></span>
              <ul class="blog-container">
                <% @stories.each do |story| %>
                <%= render :partial => "/story", :locals => { :story => story, :panels => story['panels'] } %>
                <% end %>
              </ul> <!-- stories section ends -->

            </div> <!-- center-container ends -->
          </div> <!-- col-two ends -->
        </div> <!-- span9 ends -->

        <% unless @users.blank? %>
        <div class="span3 facepile">
          <div class="header-wrap">
            <h3 class="facepile-header">Other popular users in this panel</h3>
          </div>
          <ul class="user-faces">
          <% @users.each do |user| %>
            <li class="user-face">
              <a href="/users/<%= user.id %>">
                <img src="<%= user.image('medium') %>" alt="<%= user.name %>" />
              </a>
            </li>
          <% end %>
          </ul>
        </div> <!-- facepile ends -->
        <% end %>

      </div> <!-- row-fluid ends -->
    </div> <!-- container ends -->
  </body>
</html>
