<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "AapAurMain", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            Logged in as <%= current_user.name %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "log in", login_path %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>