<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" id="logo"></a>
      <% if show_search? %>
        <form class="navbar-search pull-left" method="get" action="/search/keyword_search">
          <input name="searchfrom" type="hidden" value="header">
          <input class="search-query search-bar" name="q" id="search_query_top" type="text" placeholder="Fire off keywords like Guitar, Music, Painter&hellip;"  autocomplete="off">
          <div class="suggestionContainer"></div>
          <span class="orText">OR</span>
          <a class="btn-large btn-primary advSearch" href="/search/keyword_search?q=*">Help Me Search</a>
        </form>
      <% end %>
        
      <nav>
        <% if show_login? %>

            <ul class="nav nav-pills nav-actions">
              <li><%= link_to "About Us", :controller => "static_pages", :action => "about" %></li>
              <li><%= link_to "How It Works",  :controller => "static_pages", :action => "how_it_works" %></li>
              
            </ul>
            <%= form_tag(sessions_path, :class => 'form-horizontal form-inline pull-right') do %>
              
                <div class="controls">
                  <input type="text" class="inputFields" id="inputIcon" name="email" placeholder="Email" />
                  <input type="password" class="inputFields" name="password" placeholder="Password" />
                  <button type="submit" class="signin btn btn-success">Log in</button>
                </div>
              
              <div class="rememberSection">
                <input name="remember_me" type="checkbox">
                <label class="checkbox">Remember me</label>
              </div>
            <% end %> <!-- end for form -->
          <% else %>
          <% if current_user %> 
            <% user = current_user %>
            <ul class="nav nav-pills nav-actions">

              <li><%= link_to "Dashboard", :controller => "users", :action => "showme", :id => user.id %></li>
              <li><%= link_to "Edit Profile",  :controller => "users", :action => "edit_profile", :id => user.id %></li>

              <li><%= link_to "Messages", conversations_path %></li>
            </ul>

              <ul class="nav nav-dropdown">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
                  <ul class="dropdown-menu"> 
                    <li><%= link_to "My Profile",  :controller => "users", :action => "show", :id => user.id %></li>
                    <li><%= link_to "Log out", logout_path %></li>
                  </ul>
                </li>
              </ul>
          
            
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>

</header>
