<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "AapAurMain", root_path, id: "logo" %>
      <form class="top-search pull-left" method="get" action="/search/keyword_search">
        <input name="searchfrom" type="hidden" value="header">
        <input class="search-query" name="q" id="search_query_top" type="text" placeholder="Fire off keywords like Guitar, Music, Painter&hellip;"  autocomplete="off">
        <input type="submit" class="iconSearch">
        <div class="suggestionContainer"></div>
      </form>
        
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            Logged in as <%= current_user.name %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "log in", login_path %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>