<div class="header clearfix">
  <div class="header-container">
    <div class="logo">
      <a href="/"><img src="/assets/logo-v2.png" alt="Purplerock" /></a>
      <div class="beta-text">Beta</div>
    </div>
    <div class="nav info-right">
      <ul class="clearfix">
        <% if current_user %>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <% end %>
        <li class="tour-only hide">
          <a href="#">Start Tour</a>
        </li>
        <% unless show_login? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle link-profile" data-toggle="dropdown" id="user-control">
            <img src="<%= current_user.image('thumb') %>" class="img-thumb" />
            <span><%= current_user.name %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/edit_profile" data-target="#">Edit Profile</a></li>
            <li><a href="/users/<%= current_user.id %>">View your profile</a></li>
            <li><a href="/log_out">Log Out</a></li>
          </ul>
        </li>
        <!--<div class="message">
            <span class="msg-count">2</span>
          </div>
        <li>
          <a href="#" class="link-setting">Settings</a>
        </li> -->
        <% else %>
        <li class="log-in">
          <a class="btn btn-success btn-large">Log in</a>
          <div class="login-form-container">
            <%= form_tag(sessions_path, :class => 'form-horizontal form-inline pull-right login-form') do %>
              <input type="text" class="inputFields" id="inputIcon" name="email" placeholder="Email" />
              <input type="password" class="inputFields" name="password" placeholder="Password" />
              <button type="submit" class="signin btn btn-success">Log in</button>
              <div class="rememberSection">
                <input name="remember_me" id="remember_me" type="checkbox">
                <label for="remember_me" class="checkbox">Remember me</label>
              </div>
              <div class="forgotPasswordSection">
                <p><%= link_to "Forgot Password?", new_password_reset_path %></p>
              </div>
            <% end %> <!-- end for form -->
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- Header -->
