<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "all/bootstrap.min" %>
    <%= stylesheet_link_tag    "application-all", media: "all" %>
    <%= javascript_include_tag "application-all" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/shim' %>    
    <%= yield :stylesheet %>
    <%= yield :javascript %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= yield :js_footer %>
    <%= render 'layouts/footer' %>
  </body>
</html>
